header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding:1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

header p {
    font-size: 1.5rem;
}


article h2 {
    font-size: 1.3rem;
    margin-top: 1rem;
}

main {
    padding: 0px 30px 20px;
    min-height: calc(100vh - 144px - 56px);
}

li i {
    font-size: 200px;
    margin-bottom:1rem;
}

li div {
    text-align: center;
}


#icons ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:0.5rem auto 3rem auto;
    width: 50%;
}

article {
    display: flex;
    background-color: #fff;
    max-width: 52%;
    text-align: center;
    margin:auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
}
 
article img {
    display: block;
    margin: auto auto 1.2rem auto;
    width: 250px;
}
article p {
    margin-top: 1rem;
    line-height: 1.5rem;
}

nav ul {
    padding:0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav a {
    text-decoration: none;
    color:#fff;
}
#images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
@keyframes profile-transition {
    0% {
        opacity:1;
    }
    45% {
        opacity:0;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
    
.image1 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.image2 { 
    grid-area: 1 / 2 / 2 / 3;
    animation: profile-transition 30s infinite; 
    
    
}