header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding:1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

header p {
    font-size: 1.5rem;
}

main h2 {
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    min-height: calc(100vh - 144px - 56px);
}

article {
    background-color: #fff;
    max-width: 50%;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
 
article img {
    display: block;
    margin: auto auto 1.2rem auto;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
}